html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  height: 100vh;
}

header,
footer,
#about-me,
#resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: "Your Font", sans-serif;
  font-size: 1.5em;
  margin: 0%;
}

.centered-text span {
  color: #ff8a00;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.container img {
  width: 50%;
}

.container p {
  margin-left: 20px;
  font-weight: bold;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010409;
  color: #fff;
  padding: 20px;
  height: 100vh;
  width: 50%;
  font-size: 80px;
  text-align: center;
}

footer {
  position: relative;
  background-color: #0d1117;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  color: #ffffff;
}

.footer_text {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.social-button {
  padding: 10px 20px;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 20px;
  border-width: 2px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.social-button:hover {
  background-color: #cb450c;
  border-color: #111111;
  color: #111111;
}

#skills {
  text-align: center;
  color: #fff;
}

#skills h3 {
  color: #cb450c;
}

.skills-heading {
  font-size: 50px;
  margin: 0;
  color: #000000;
  border: 2px solid black;
}

.skill-sections {
  display: flex;
  justify-content: space-between;
  background-color: #010409;
}

.skill-section1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.skill-section2 .sub-skills {
  padding-top: 1px;
  padding-right: 1px;
}

.sub-skills {
  border: 2px solid white;
  transition: border-color 0.3s ease-in-out;
}

.sub-skills:hover {
  border-image: linear-gradient(45deg, #ff8a00, #e52e71);
  border-image-slice: 1;
}

.App {
  width: 20%;
}

.sub-skills h4 {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  margin-bottom: 5px;
  padding: 10px;
}

#resume {
  height: 30vh;
}

i.fas {
  margin-right: 5px;
}
